<%= partial "head" %>  
  <body lang="en">
    <div id="container"> 
      <header>
        <%= partial "header" %>
        <%= partial "nav" %>
      </header>
    <%= yield %>
    </div>
  </body>

</html>
