<nav class="clearfix">
  <span class="navLinks details">
    <a href="https://github.com/wwudevops">
      <i class="fa fa-github"></i>GitHub</a>
    <a href="https://wwudevops.github.io/curriculum">
      <i class="fa fa-pencil-square"></i>Curriculum</a>
    <a href="https://wwudevops.github.io/slides">
      <i class="fa fa-play-circle"></i>Slides</a>
    <a href="http://twitter.com">
      <i class="fa fa-twitter"></i>Twitter</a>
    <a class="last" href=""><i class="fa fa-envelope"></i>Contact</a>
  </span>
</nav>
