<nav class="clearfix">
  <span class="navLinks details"><a href="http://wwudevops.github.io/curriculum"><i class="icon-pencil"></i>Curriculum</a>
    <a href="https://github.com/wwudevops"><i class="icon-github"></i>GitHub</a>
  <a class="last" href="mailto:wwudevops@gmail.com"><i class="icon-envelope-alt"></i>Contact</a></span>
</nav>
